@font-face {
    font-family: hacker;
    src: url(font/retro_computer_personal_use.ttf);

    
}

@font-face {
    font-family: hacker1;
    src: url(font/Valorant\ Font.ttf);
}

@font-face {
    font-family: hacker2;
    src: url(font/62DRAGZ.otf);
}

@font-face {
    font-family: hacker3;
    src: url(font/Top\ Secret.ttf);
}

.username{
    border-radius: 14px;
    width: 300px;
    border-color: blue;
    height: 25px;
    background: none;
    box-shadow: 0px 0px 10px 5px;
}

.container{
    
}

.password{
    border-radius: 14px;
    width: 300px;
    border-color: blue;
    height: 25px;
    background: none;
    box-shadow: 0px 0px 10px 5px;
}

.btn{
    border-radius: 7px;
    width: 100px;
    font-family: hacker1;
    height: 30px;
    background: none;
    border-color: blue;
    box-shadow: 0px 0px 10px 5px;
}

input{
    
    
}


body{
    background: url(background.jpeg) no-repeat;
    background-size: cover;
}

.cont{
    
    border: 1px solid darkorchid ;
    border-radius: 89px;
    border-width: 10px;
    height: 324px;
}